<div class="popup">
    <form class="popup__form">
        <button type="button" class="popup__button-close" id="popup-close-button"></button>
        <div class="popup__form_input">
            <label class="popup__form_label" for="name">Name</label>
            <input class="popup__form_item" type="text" placeholder="Ivan Ivanov" id="name">
        </div>
        <div class="popup__form_input-two">
            <div class="popup__form_input">
                <label class="popup__form_label" for="name">Phone</label>
                <input class="popup__form_item" type="tel" id="phone">
            </div>
            <div class="popup__form_input">
                <label class="popup__form_label" for="email">Email</label>
                <input class="popup__form_item" type="text" id="email">
            </div>
        </div>
        <div class="popup__form_input">
            <label class="popup__form_label" for="message">Message</label>
            <textarea class="popup__form_item-message" id="message"></textarea>
        </div>
        <div class="popup__form_input">
            <div class="popup__form_check">
                <div class="popup__inputs">
                    <input class="checkbox-input" type="checkbox" id="contact-chekcbox">
                    <label for="contact-chekcbox" class="checkbox-label">By clicking on the button, you consent to the
                processing of your personal data</label>
                </div>
                <div>
                    @@include("link__button/index.html",{
                        "text":"submit"
                        })
                </div>
            </div>
        </div>
    </form>
</div>