.header{
  margin-top: 50px;
  width: 100%;  

  @media screen and (max-width:$md) {
    margin-top: 35px;
    
  }
  @media screen and (max-width:$sm) {
    margin-top: 25px;
    
  }
  
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:$md) {
      display: none;
    }
  }

  &__logo{
    display: block;
    max-width: 100px;
    height: auto;

    @media screen and (max-width:$md) {
      max-width: 62px;
    }

    @media screen and (max-width:$sm) {
      max-width: 42px;
    }
  }



  
  &__logo:hover,
  &__link:hover,
  &__serch:hover {
    opacity: 0.5;
  }
  
  &__logo:active,
  &__link:active,
  &__serch:active {
    opacity: 0.2;
  }
  
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__list_contact{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }



  &__link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
    white-space: nowrap;

    @media screen and (max-width:$md) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  &__item{
    margin-right: 20px;
  }

  &__item:nth-child(2) {
    margin-left: 50px;
  }
  
  &__item_contact{
    margin-right: -30px;
  }

  &__list_contact{
    margin-right: -20px;
  }
}
.mobile-header{
  display: none;
  @media screen and(max-width:$md) {
    display: block;
  }


  &__button_open,
  &__button_close{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    background-color: transparent;
    border: none;
  }
}

.mobile-menu{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__list{
    background-color: #ffffff;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 0;
    z-index: 1;
    top: -999px;
    transition: 0.5s;
    text-align: center;
    @media screen and(max-width:$md) {
      width: 768px;
    }
    @media screen and(max-width:$sm) {
      width: 400px;
    }
  }

  &__item{
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }

  &__item:last-child{
    margin-bottom: 25px;
    margin-top: 10px;
  }

  &__checkbox{
    display: none;
  }
  &__label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
  }

  &__label::before{
    display: inline-block;
    content: 'menu';
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
  }

  &__label::after{
    content: '+';
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    transform: rotate(45deg);
    color: #1E0606;
    display: none;

  }

}

#menu:checked ~ .mobile-menu__list{
  top: 0;
}

#menu:checked + .mobile-menu__label::before{
  display: none;
}

#menu:checked + .mobile-menu__label::after{
  display: block;
  
}




