<header class="header container">
    <div class="header__wrapper">
        <ul class="header__list">
            <li class="header__item__logo">
                <a href="/index.html"><img src="/static/images/logo.jpg" alt="Site logo" class="header__logo"></a>
            </li>
            <li class="header__item">
                <a href="/pages/blog/index.html" class="header__link">Blog</a>
            </li>
            <li class="header__item">
                <a href="/pages/catalog/index.html" class="header__link">Catalog</a>
            </li> 
            <li class="header__item">
                <a href="/pages/toys/index.html" class="header__link">About us</a>
            </li>
        </ul>
        <ul class="header__list_contact">
            <li class="header__item_contact">
                <a href="#" class="header__serch"><img class="search" src="/static/images/serch.png" alt="Search"></a>
            </li>
            <li class="header__item">
                <a href="/contact-us.html" class="header__link">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="mobile-header">
        <ul class="header__list">
            <li class="mobile-header__item">
                <a href="/index.html"><img class="header__logo" src="/static/images/logo.jpg" alt="Site logo"></a>
            </li>
            <li class="mobile-header__item">
                <div class="mobile-header__menu">
                    <a  class="open-mobile-popup" href="#">menu</a>
                    <a  class="close-mobile-popup" href="#">+</a>
                </div>
            </li>
            <li class="mobile-header__item">
                <a href="#" class="header__serch"><img src="/static/images/serch.png" alt="Search"></a>
            </li>
        </ul>
    </div>
</header>
<section class="mobile-section">
    <div class="mobile-popup">
        <ul class="mobile-popup__list">
            <li class="mobile-popup__item">
                <a class="header__link" href="/pages/catalog/index.html">catalog</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="/pages/toys/index.html">about us</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="/pages/blog/index.html">blog</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="#">animation</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="#">svg</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="#">grid</a>
            </li>
            <li class="mobile-popup__item">
                <a class="header__link" href="#">contact us</a>
            </li>
        </ul>
    </div>
</section>
