<header class="header container">
  <a href="/index.html"><img src="/static/images/logo.jpg" width="100" width="52" alt="Site logo" class="header-logo"></a>
  <nav class="header-menu">
      <ul class="header-menu-list">
          <li class="header-list-item">
              <a href="/blog.html" class="header-list-link">Blog</a>
          </li>
          <li class="header-list-item">
              <a href="/Catalog.html" class="header-list-link">Catalog</a>
          </li>
          <li class="header-list-item">
              <a href="#" class="header-list-link">About us</a>
          </li>
  </nav>
  <nav class="header-contact">
      <ul class="header-menu-contact">
          <li class="header-contact-item">
              <a href="#" class="header-link-serch"><img src="/static/images/serch.png" alt="Serch"></a>
          </li>
          <li class="header-contact-item">
              <a href="/contact-us.html" class="header-contact-link">Contact Us</a>
          </li>
      </ul>
  </nav>
</header>
