
@import "./vars";

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Crimson Text', serif;
  box-sizing: border-box;
}

a {
text-decoration: none;
}

body{
  background-color: #ffffff;
  margin: 0;
}

ul,ol {
  list-style-type: none;
  padding-left: 0;

}


h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1400px;
  padding-left: 110px;
  padding-right: 110px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width:$md) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (max-width:$sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}




// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./products-item/products-item";
@import "./link__button/link__button";
@import "./rating-group/rating-group";
@import "./map/map";
@import "./popup/popup";