<footer class="footer">
    <div class="footer__contain container">
        <div class="footer__wrapper">
            <div class="footer__list">
                <div class="footer__wrapper_one">
                    <div class="footer__first_item_nav">
                        <a href="#" class="footer__first_link_nav">Navigation</a>
                    </div>
                    <ul class="footer__first">
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">About Us</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Blog</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Design Services</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Featured On</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">2018 Holiday Catalog</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Shop By Designer</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__wrapper_two">
                    <div class="footer__first_item_nav">
                        <a href="#" class="footer__first_link_nav">Customer Information</a>
                    </div>
                    <ul class="footer__second">
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Contact Us</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Sale Exclusions</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Shipping & Returns</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Terms & Conditions</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Privacy Policy</a>
                        </li>
                        <li class="footer__first_item">
                            <a href="#" class="footer__first_link">Search</a>
                    </ul>
                </div>
                <div class="footer__wrapper_three">
                        <div class="footer__first_item_nav">
                            <a href="#" class="footer__first_link_nav">Connect</a>
                        </div>
                    <div class="footer__connect">
                        <form class="footer__connect_form">
                            <input type="search" placeholder="Email" class="footer__form_input">
                            @@include("link__button/index.html",{
                                "text":"join"
                                })
                        </form>
                        <div class="footer__connect_network">
                            <a href="#"><img src="/static/images/social networks/facebook.svg" alt="facebook"
                                    class="footer__connect_image"></a>
                            <a href="#"><img src="/static/images/social networks/twitter.svg" alt="twitter"
                                    class="footer__connect_image"></a>
                            <a href="#"><img src="/static/images/social networks/pinterest.svg" alt="pinterest"
                                    class="footer__connect_image"></a>
                            <a href="#"><img src="/static/images/social networks/instagram.svg" alt="instagram"
                                    class="footer__connect_image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom_rating">
                <span class="footer__bottom_caption">Company rating</span>
                @@include("rating-group/index.html")
            </div>
            <span class="footer__bottom_link">Copyright © 2018 Dlk • Design Life Kids</span>
            <span class="footer__bottom_link-nav">Web Design — Direct Line Development</span>
        </div>
    </div>
</footer>