<footer class="footer">
  <div class="footer-wrapper container">
      <ul class="footer-main-block">
          <li class="footer-main-block-item">
              <a href="#" class="footer-main-block-link">Navigation</a>
          </li>
          <li class="footer-main-block-item">
              <a href="#" class="footer-main-block-link">Customer Information</a>
          </li>
          <li class="footer-main-block-item">
              <a href="#" class="footer-main-block-link">Connect</a>
          </li>
      </ul>
      <div class="footer-middle-block">
          <ul class="footer-middle-block-menu-one">
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">About Us</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Blog</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Design Services</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Featured On</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">2018 Holiday Catalog</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Shop By Designer</a>
              </li>
          </ul>
          <ul class="footer-middle-block-menu-two">
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Contact Us</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Sale Exclusions</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Shipping & Returns</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Terms & Conditions</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Privacy Policy</a>
              </li>
              <li class="footer-middle-block-item">
                  <a href="#" class="footer-middle-block-link">Search</a>
          </ul>
          <div class="connect-block">
              <form class="connect-block-form">
                  <input type=search placeholder="Email" class="connect-block-form-input">
                  <a href="#" class="connect-block-form-link-join">Join</a>
              </form>
              <div class="connect-social-network">
                  <a href="#"><img src="/static/images/social networks/facebook.svg" alt="facebook"
                          class="connect-block-form-image"></a>
                  <a href="#"><img src="/static/images/social networks/twitter.svg" alt="twitter"
                          class="connect-block-form-image"></a>
                  <a href="#"><img src="/static/images/social networks/pinterest.svg" alt="pinterest"
                          class="connect-block-form-image"></a>
                  <a href="#"><img src="/static/images/social networks/instagram.svg" alt="instagram"
                          class="connect-block-form-image"></a>
              </div>
          </div>
      </div>
      <div class="footer-bottom-block">
          <div class="rating">
              <span class="rating-caption">Company rating</span>
              <div class="rating-group">
                  <input class="rating-star" type="radio" value="1" name="rating" aria-label="one">
                  <input class="rating-star" type="radio" value="2" name="rating" aria-label="two">
                  <input class="rating-star" type="radio" value="3" name="rating" aria-label="three">
                  <input class="rating-star" type="radio" value="4" name="rating" aria-label="four">
                  <input class="rating-star" type="radio" value="5" name="rating" aria-label="five">
              </div>
          </div>
          <span class="footer-bottom-block-span">Copyright © 2018 Dlk • Design Life Kids</span>
          <span class="footer-main-block-link">Web Design — Direct Line Development</span>
      </div>
  </div>
</footer>
